<!DOCTYPE html>
<html>
<head>
	<title>Not Found</title>

	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">

	<style>
	html, body {
		height: 100%;
	}

	body {  
		font-family: 'Saira Extra Condensed', sans-serif;
		font-weight:400;
		font-size:0.875em;
		letter-spacing:0.063em;
		margin: 0;
		padding: 0;
		width: 100%;
		color: #B0BEC5;
		display: table;
		font-weight: 100;
	}
	h1 {
		font-weight:900;font-size:3.25em;margin-bottom:auto;text-shadow:2px 3px 0px #898999;line-height:1.2;
	}

	.content {
		text-align: center;
		display: inline-block;
	}

	.title {
		font-size: 72px;
		margin-bottom: 40px;
	}
</style>
</head>
<body>
	<div class="content">
		<div class="title"><a href="http://coinbox.club/threads/free-coinbox-faucet-script.5/"><h1>CoinBox Faucet Script</h1></a></div>
	</div>
</body>
</html>